.App {
  min-height: calc(100vh - 303px);
  padding: 25px 0px 50px 0px;
  background-image: url('assets/background.jpeg');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer {
  margin-top: auto;
}

@import "custom";