$primary: #DF0001;
$secondary: #A9D8E2;
$success: #25430D;
$font-family-base: 'Open Sans', sans-serif;
$display-font-family: 'Oleo Script Swash Caps', cursive;

@import '~bootstrap/scss/bootstrap.scss';